<!doctype html>
{% load staticfiles %}
{% load bootstrap3 %}
<html>
    <head>
        <title>online banking system </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class = 'container-fluid'>
            <div class = 'row'>
                
                <div class="col-md-4 col-md-offset-4">
			<ul class='list-group'>
			<li class='list-group-item'><a href="{%url 'balance'%}">show balance</a></li>
			<li class='list-group-item'>Insufficient Balance</li>
			<li class='list-group-item'><a href="{%url 'main'%}">return to main page</a></li>
			</ul>
    </body>
</html>
