<!doctype html>
{% load staticfiles %}
{% load bootstrap3 %}
<html>
    <head>
        <title>online banking system </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class = 'container-fluid'>
            <div class = 'row'>
                
                <div class="col-md-4 col-md-offset-4">
                   
                    <form action = "{% url 'MakePayment' %}" method = 'POST' class="form">
                        {% if next %}
                        <input type="hidden" name='next' value ="{{next}}">
                        {% endif %}
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons submit='Make Payment' %}
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
